Flask==2.0.2
Flask_Cors==3.0.10
Flask_SocketIO==5.3.4
langchain==0.0.198
openai==0.27.0
pdf2image==1.16.3
pymongo==4.3.3
pypdf==3.9.1
pytesseract==0.3.10
python-decouple==3.8
python-dotenv==1.0.0
Requests==2.31.0
weaviate_client==3.19.1
grpcio==1.54.0
